{% set route = service('routes').getRouteDetails(uuid) %}
{% set auth_names = (route.auth is not empty) ? service('access').getAuthNames(route.auth) : '' %}

{% component 'system:admin.panel' %}
    <div class="mt-4">       
        <table class="{{ theme.table.details }}">
            <thead>
                <tr>
                    <th class="w-1/3"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                    <td>{{ route.uuid }}</td>
                </tr> 
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                    <td>
                        {{ component('system:admin.status.icon',{ status: route.status }) }}     
                    </td>
                </tr>      
                {% if route.name is not empty %}     
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.name }}</td>
                    <td>{{ route.name }}</td>
                </tr>  
                {% endif %}
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.type }}</td>
                    <td>
                        {{ component('system:admin.labels.route-type',{ type: route.type, class: 'basic' }) }}         
                    </td>
                </tr>  
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.method }}</td>
                    <td>{{ route.method }}</td>
                </tr>   
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.pattern }}</td>
                    <td>{{ route.pattern }}</td>
                </tr>   
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.handler }}</td>
                    <td>
                        <div class="text-xs">
                            {{ route.handler_class }}
                        </div>
                        <div class="text-xs font-bold">
                            Method
                        </div>
                        <div class="badge badge-sm badge-outline">
                            {{ route.handler_method }}
                        </div>                      
                    </td>
                </tr>  
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.extension }}</td>
                    <td>{{ route.extension_name }}</td>
                </tr>  
                {% if route.redirect_url is not empty %}      
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.redirect }}</td>
                    <td>{{ route.redirect_url }}</td>
                </tr>   
                {% endif %}
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.auth }}</td>
                    <td>                  
                        {% if auth_names is iterable %}
                            {% for item in auth_names %}
                                <div class="badge badge-xs badge-outline">{{ item }}</div>
                            {% endfor %}
                        {% else %}
                            <div class="badge badge-outline badge-primary">{{ auth_names|default('none') }}</div>
                        {% endif %}     
                    </td>
                </tr>   
                {% if route.middlewares is not empty %}     
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.middleware }}</td>
                    <td>
                        {% set middlewares = route.middlewares|jsonDecode(false) %}
                        {% for middleware in middlewares %}
                            <div class="ui basic horizontal label" title="{{ labels.middleware }}">                    
                                <span class="ui text grey">{{ middleware|baseClass }}</span>
                            </div>
                        {% endfor %}                     
                    </td>
                </tr> 
                {% endif %}
                {% if route.page_name is not empty %}   
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.page }}</td>
                    <td>{{ route.page_name }}</td>
                </tr> 
                {% endif %}
            </tbody>  
        </table>         
    </div>   
{% endcomponent %}