{% set package = package(package_type).createPackage(package_name) %}

{% if package_type == 'extension' %}
    {% set items = package.getPackageMiddlewares() %}
{% else %}
    {% set module = service('modules').create(package_name) %}  
    {{ module.boot() }}
    {% set items = module.getMiddlewareClasses() %}
{% endif %}
<div class="my-4 flex flex-row items-center">
    <div class="badge badge-sm badge-outline">
        {{ package_type }}
    </div>
    <div class="ml-4 font-bold">{{ package_name }}</div>
</div>
{% if items|length == 0 %}
    {{ component('system:admin.alert.info',{ message: labels.empty }) }}  
    {% error '' %}
{% endif %}

<div class="{{ theme.list.default }}">
    {% for item in items %}
    <div class="fle xflex-row items-center">
        <div class="mx-1">
            <button 
                class="{{ theme.buttons.icon }} install-middleware" 
                class-name="{{ item }}" 
                route-uuid="{{ route_uuid }}"
                middleware-type="{{ type|default('global') }}"
                title="{{ labels.install }}">
                {{ component('icons~plus',theme.icons.menu,'svg') }}       
            </button>
            {{ item }}
        </div>       
    </div>
    {% endfor %}
</div>