{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.routes, 
                component: 'routes::admin.routes.view', 
                svg_icon: 'icons~code',
                active: true 
            },     
            { 
                title: labels.middleware, 
                component: 'routes::admin.middleware.view', 
                svg_icon: 'icons~code' 
            },       
        ],
        menu: { 
            extension: 'routes' 
        },
        content: { 
            component: 'routes::admin.routes.view'
        } 
    })
}}