{% set middlewares = getConfigOption('middleware') %}
 {% if middlewares|length == 0 %}
    {{ component('system:amdin.alert.info',{ message: labels.empty }) }}
    {% error '' %}
{% endif %}

<div class="{{ theme.list.default }}">
    {% for item in middlewares %}      
        <div class="flex flex-row items-center">
            <button 
                class="{{ theme.buttons.icon }} uninstall-middlware" 
                middleware-class="{{ item.handler }}" 
                title="{{ labels.uninstall }}">
                {{ component('icons~close',theme.icons.delete,'svg') }}       
            </button>
            {{ component('icons~code',theme.icons.blue,'svg') }}       
            <div class="ml-2">               
                {{ item.handler }}
            </div>           
        </div>       
    {% endfor %}
</div>          