{% set route = service('routes').getRouteDetails(uuid) %}
{% component 'system:admin.panel' %}
    <div class="mt-4">
        <h4 class="font-bold">
            {{ labels.route }}
        </h4>
        <div class="badge badge-sm badge-outline">
            {{ route.method }}
        </div>
        <div class="badge badge-sm badge-outline">
            {{ route.pattern }}
        </div>       
        <div class="mt-2">
            {% if route.middleware|length > 0 %}
                <h4 class="font-bold">
                    {{ labels.middleware }}
                </h4>
                <div class="divider"></div>   
                <div class="{{ theme.list.default }}">
                    {% for item in route.middleware %}
                        <div class="flex">                          
                            {{ item }}
                        </div>
                    {% endfor %}
                </div> 
            {% else %}
            <div class="mt-2 p-2">
                {{ message }}
            </div>
            {% endif %}
        </div>
        {% if enabled == true %}
        <div class="mt-4">
            <h4 class="font-bold">
                {{ labels.add }}
            </h4>
            <div class="divider"></div>            
            {{  component('routes::admin.middleware.view.packages',{ 
                    type: 'route', 
                    route: route,
                    route_uuid: uuid 
                }) 
            }}  
        </div>
        {% endif %}
    </div>
{% endcomponent %}