{% set route = service('routes').getRouteDetails(uuid) %}
{% component 'semantic~panel' %}
    <div class="mt-4">
        <h4>
            {{ labels.route }}
        </h4>
        <div class="ui basic label">
            {{ route.method }}
        </div>
        <div class="ui basic label">
            {{ route.pattern }}
        </div>       
        <div class="mt-2">
            {% if route.middleware|length > 0 %}
                <h4>{{ labels.middleware }}</h4>
                <div class="ui divider"></div>   
                <div class="ui list my-2">
                    {% for item in route.middleware %}
                        <div class="item">
                            <i class="green icon check"></i>
                            {{ item }}
                        </div>
                    {% endfor %}
                </div> 
            {% else %}
            <div class="mt-2 p-2">
                {{ message }}
            </div>
            {% endif %}
        </div>
        {% if enabled == true %}
        <div class="mt-4">
            <h4>{{ labels.add }}</h4>
            <div class="ui divider"></div>            
            {{  component('routes::admin.middleware.view.packages',{ 
                    type: 'route', 
                    route: route,
                    route_uuid: uuid 
                }) 
            }}  
        </div>
        {% endif %}
    </div>
{% endcomponent %}