<div class="ui stackable two column grid">      
    <div class="column">    
        <div class="ui segment">
            <div class="ui grid">
                <div class="ten wide column">
                    <span class="font-bold px-2">{{ labels.status }}</span>
                    {{  component('components:status.dropdown',{ 
                            status: status_filter,
                            class: 'status-filter clearable selection',                       
                            all: false 
                        }) 
                    }} 
                </div>
                <div class="right aligned six wide column">
                    {{ component('components:paginator.dropdown',{ namespace: 'routes' }) }}
                </div> 
            </div>            
        </div>
        <div class="ui segment">
            <table class="ui bvery basic table">
                <thead>

                </thead>
                <tbody id="routes_items" component="routes::admin.routes.view.items" namespce="routes">
                    {{ component('routes::admin.routes.view.items') }}
                </tbody>
            </table>          
            <div id="paginator">
    
            </div>
        </div>       
    </div>     
    <div class="column" id="route_details">      
    </div>
</div>
