{% set type = searchValue('type','routes') %}
{% set status = searchValue('status','routes') %}
{% set extension = searchValue('extension','routes') %}
<div class="ui stackable two column grid">      
    <div class="column">    
        <div class="ui segment">
            <div class="ui grid">
                <div class="fourteen wide column">
                    <span class="font-bold px-2">{{ labels.type }}</span>
                    {{ component('routes::admin.routes.type',{ selected: type }) }}

                    <span class="font-bold px-2">{{ labels.status }}</span>
                    {{  component('components:status.dropdown',{ 
                            status: status_filter,
                            selected: status,
                            skip: [2,3,4,5],
                            class: 'status-filter clearable selection',                       
                            all: false 
                        }) 
                    }} 

                    <span class="font-bold px-2">{{ labels.extension }}</span>
                    {{  component('system:admin.extensions.dropdown',{ 
                            selected: extension,   
                            all: false,
                            class: 'clearable selection search labeled'
                        }) 
                    }}
                </div>
                <div class="right aligned two wide column">
                    {{ component('components:paginator.dropdown',{ namespace: 'routes' }) }}
                </div> 
            </div>            
        </div>
        <div class="p-1">
            <table class="ui bvery basic table">
                <thead>
                </thead>
                <tbody id="routes_items" component="routes::admin.routes.view.items" namespace="routes">
                    {{ component('routes::admin.routes.view.items') }}
                </tbody>
            </table>          
            <div id="paginator">
                {{ component("components:paginator",{ namespace: 'routes' }) }}
            </div>
        </div>       
    </div>     
    <div class="column" id="route_details">      
    </div>
</div>
