<tr id="row_{{ route.name }}">
    <td class="one wide">
        <button class="ui mini basic icon button route-details" uuid="{{ route.uuid }}">
            <i class="info icon"></i>
        </button>
    </td>
    <td class="two wide">       
        {{ component('semantic~status.dropdown',{ status: route.status, uuid: route.uuid, skip: [2,3,4,5] }) }} 
    </td>
    <td class="two wide">
        {{ component('semantic~labels.route-type',{ type: route.type, class: 'basic' }) }}         
    </td>
    <td class="one wide">
        <div class="ui basic label">
            {{ route.method }} 
        </div> 
    </td>
    <td>                                                     
        {{ route.pattern }}                                                      
    </td>     
</tr>