<tr id="row_{{ route.name }}">
    <td class="">
        <button 
            title="{{ labels.details }}"
            class="{{ theme.buttons.icon }} route-details" 
            uuid="{{ route.uuid }}">
            {{ component('icons~info',theme.icons.menu,'svg') }}       
        </button>
        <button 
            title="{{ labels.middleware }}"
            class="{{ theme.buttons.icon }} route-middleware" 
            uuid="{{ route.uuid }}">
            {{ component('icons~code',theme.icons.menu,'svg') }}       
        </button>
    </td>
    <td>       
        {{ component('system:admin.status.dropdown',{ status: route.status, uuid: route.uuid, skip: [2,3,4,5] }) }} 
    </td>
    <td>
        {{ component('system:admin.labels.route-type',{ type: route.type, class: 'basic' }) }}         
    </td>
    <td>
        <div class="badge badge-sm badge-outline">
            {{ route.method }} 
        </div> 
    </td>
    <td>                                                     
        {{ route.pattern }}                                                      
    </td>     
</tr>